@charset "UTF-8";
/* CSS Document */
.flexigrid {
	font-family: "Open Sans";
	font-size: 13px;
	line-height: normal;
	position: relative;
	border: 0px solid #eee;
	overflow: hidden;
	color: #000;
}

.flexigrid.hideBody {
	height: 26px !important;
	border-bottom: 1px solid #00C7FF;
}

.ie6fullwidthbug {
	border-right: 0px solid #00C7FF;
	padding-right: 2px;
}

.flexigrid div.nDiv {
	background: #eee url(images/line.gif) repeat-y -1px top;
	border: 1px solid #00C7FF;
	border-top: 0px;
	overflow: auto;
	left: 0px;
	position: absolute;
	z-index: 999;
	float: left;
}

.flexigrid div.nDiv table {
	margin: 2px;
}

.flexigrid div.hDivBox {
	float: left;
	padding-right: 40px;
}

.flexigrid div.bDiv table {
	margin-bottom: 10px;
}

.flexigrid div.bDiv table.autoht {
	border-bottom: 0px;
	margin-bottom: 0px;
}

.flexigrid div.nDiv td {
	padding: 2px 3px;
	border: 1px solid #eee;
	cursor: default;
}

.flexigrid div.nDiv tr:hover td,.flexigrid div.nDiv tr.ndcolover td {
	background: #d5effc url(images/hl.png) repeat-x top;
	border: 1px solid #a8d8eb;
}

.flexigrid div.nDiv td.ndcol1 {
	border-right: 1px solid #00C7FF;
}

.flexigrid div.nDiv td.ndcol2 {
	border-left: 1px solid #fff;
	padding-right: 10px;
}

.flexigrid div.nDiv tr:hover td.ndcol1,.flexigrid div.nDiv tr.ndcolover td.ndcol1
	{
	border-right: 1px solid #d2e3ec;
}

.flexigrid div.nDiv tr:hover td.ndcol2,.flexigrid div.nDiv tr.ndcolover td.ndcol2
	{
	border-left: 1px solid #eef8ff;
}

.flexigrid div.nBtn {
	position: absolute;
	height: 24px;
	width: 14px;
	z-index: 900;
border-left-color: #aaccf6;
border-right-color: #aaccf6;
background-image: none;
background-color: #A7C8F1;
	border-left: 1px solid #00C7FF;
	top: 0px;
	left: 0px;
	margin-top: 1px;
	cursor: pointer;
	display: none;
}

.flexigrid div.nBtn div {
	height: 24px;
	width: 12px;
	border-left: 1px solid #fff;
	float: left;
	background: url(images/ddn.png) no-repeat center;
}

.flexigrid div.nBtn.srtd {
background-color: #d3e1f1;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfe9f5), color-stop(100%, #d3e1f1));
background-image: -webkit-linear-gradient(top, #dfe9f5,#d3e1f1);
background-image: -moz-linear-gradient(top, #dfe9f5,#d3e1f1);
background-image: -o-linear-gradient(top, #dfe9f5,#d3e1f1);
background-image: -ms-linear-gradient(top, #dfe9f5,#d3e1f1);
background-image: linear-gradient(top, #dfe9f5,#d3e1f1);}

.flexigrid div.mDiv {
background-color: #d3e1f1;
background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dfe9f5), color-stop(100%, #d3e1f1));
background-image: -webkit-linear-gradient(top, #dfe9f5,#d3e1f1);
background-image: -moz-linear-gradient(top, #dfe9f5,#d3e1f1);
background-image: -o-linear-gradient(top, #dfe9f5,#d3e1f1);
background-image: -ms-linear-gradient(top, #dfe9f5,#d3e1f1);
background-image: linear-gradient(top, #dfe9f5,#d3e1f1);	border: 1px solid #00C7FF;
	border-bottom: 0px;
	border-top: 0px;
	font-family: 'Open Sans Bold';
	display: block;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
}

.flexigrid div.mDiv div {
	padding: 6px;
	white-space: nowrap;
}

.flexigrid div.mDiv div.ptogtitle {
	position: absolute;
	top: 4px;
	right: 3px;
	padding: 0px;
	height: 16px;
	width: 16px;
	overflow: hidden;
	border: 1px solid #00C7FF;
	cursor: pointer;
}

.flexigrid div.mDiv div.ptogtitle:hover {
	background-position: left -2px;
	border-color: #bbb;
}

.flexigrid div.mDiv div.ptogtitle span {
	display: block;
	border-left: 1px solid #eee;
	border-top: 1px solid #fff;
	border-bottom: 1px solid #79bdf1;
	width: 14px;
	height: 14px;
	background: url(images/uup.png) no-repeat center;
}

.flexigrid div.mDiv div.ptogtitle.vsble span {
	background: url(images/ddn.png) no-repeat center;
}

.flexigrid div.tDiv /*toolbar*/ {
	background: #fafafa url(images/bg.gif) repeat-x top;
	position: relative;
	border: 1px solid #00C7FF;
	border-bottom: 0px;
	overflow: hidden;
}

.flexigrid div.tDiv2 {
	float: left;
	clear: both;
	padding: 1px;
}

.flexigrid div.sDiv /*toolbar*/ {
position: relative;
border: 1px solid #68ADBE;
border-bottom: 0px;
overflow: hidden;
display: block;
background-color:#FFF;
color:#333 !important;
margin-top: 10px;
}

.flexigrid div.sDiv2 {
	float: left;
	clear:left;
	padding: 7px;
	padding-left: 5px;
	width: auto;
	position: relative;
}
.flexigrid div.sDiv2 span.fa-search {
	position: absolute;
	right: 18px;
	top: 15px;
	margin: 0px !important;
}
.flexigrid div.sDiv3 {
	float: right;
	padding: 7px;
	clear:right;
	padding-left: 5px;
	width: 200px;
}

.flexigrid div.sDiv2 input,.flexigrid div.sDiv2 select {
	vertical-align: middle;
}
.flexigrid div.sDiv3 input,.flexigrid div.sDiv3 select {
	vertical-align: middle;
}

.flexigrid div.btnseparator {
	float: left;
	height: 22px;
	border-left: 1px solid #00C7FF;
	border-right: 1px solid #fff;
	margin: 1px;
}

.flexigrid div.fbutton {
	float: left;
	display: block;
	cursor: pointer;
	padding: 1px;
}

.flexigrid div.fbutton div {
	float: left;
	padding: 1px 3px;
}

.flexigrid div.fbutton span {
	float: left;
	display: block;
	padding: 3px;
}

.flexigrid div.fbutton:hover,.flexigrid div.fbutton.fbOver {
	padding: 0px;
	border: 1px solid #00C7FF;
}

.flexigrid div.fbutton:hover div,.flexigrid div.fbutton.fbOver div {
	padding: 0px 2px;
	border-left: 1px solid #fff;
	border-top: 1px solid #fff;
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
}

/* end toolbar*/
.flexigrid div.hDiv {
border-left-color: #aaccf6;
border-right-color: #aaccf6;
background-image: none;
background-color: #ffffff;
position: relative;
border: 1px solid #00C7FF;
border-bottom: 2px solid #00C7FF;
overflow: hidden;
color: #00C7FF;
}

.flexigrid div.hDiv table {
	border-right: 1px solid #fff;
}

.flexigrid div.cDrag {
	float: left;
	position: absolute;
	z-index: 2;
	overflow: visible;
}

.flexigrid div.cDrag div {
	float: left;
	background: none;
	display: block;
	position: absolute;
	height: 24px;
	width: 5px;
	cursor: col-resize;
}

.flexigrid div.cDrag div:hover,.flexigrid div.cDrag div.dragging {
	background: url(images/line.gif) repeat-y 2px center;
}

.flexigrid div.iDiv {
	border: 1px solid #316ac5;
	position: absolute;
	overflow: visible;
	background: none;
}

.flexigrid div.iDiv input,.flexigrid div.iDiv select,.flexigrid div.iDiv textarea
	{
	font-family: "Open Sans";
	font-size: 13px;
}

.flexigrid div.iDiv input.tb {
	border: 0px;
	padding: 0px;
	width: 100%;
	height: 100%;
	padding: 0px;
	background: none;
}

.flexigrid div.bDiv {
	border: 1px solid #00C7FF;
	border-top: 0px;
	background: #fff;
	overflow: auto;
	position: relative;
}

.flexigrid div.bDiv table {
	border-bottom: 1px solid #00C7FF;
}

.flexigrid div.hGrip {
	position: absolute;
	top: 0px;
	right: 0px;
	height: 5px;
	width: 5px;
	background: url(images/line.gif) repeat-x center;
	margin-right: 1px;
	cursor: col-resize;
}

.flexigrid div.hGrip:hover,.flexigrid div.hGrip.hgOver {
	border-right: 1px solid #999;
	margin-right: 0px;
}

.flexigrid div.vGrip {
	height: 5px;
	overflow: hidden;
	position: relative;
background-color: #51A0E9;	border: 1px solid #00C7FF;
	border-top: 0px;
	text-align: center;
	cursor: row-resize;
}

.flexigrid div.vGrip span {
	display: block;
	margin: 1px auto;
	width: 20px;
	height: 1px;
	overflow: hidden;
	border-top: 1px solid #aaa;
	border-bottom: 1px solid #aaa;
	background: none;
}

.flexigrid div.hDiv th
	/* common cell properties*/ {
	text-align: left;
	border-right: 1px solid #fff;
	border-left: 1px solid #fff;
	overflow: hidden;
	vertical-align: top !important;
	padding-left: 0;
	padding-right: 0;
	padding-top:4px;
	font-size:14px;
	padding-bottom:4px;
	
	}
.flexigrid  div.bDiv td
	/* common cell properties*/ {
	text-align: left;
	border-right: none;
	border-left: none;
	overflow: hidden;
	vertical-align: top !important;
	padding-left: 2px;
	padding-right: 0;
	padding-top:3px;
	padding-bottom:3px;
}
.flexigrid div.hDiv th div{
cursor:pointer;	
}
.flexigrid div.hDiv th div,.flexigrid  div.bDiv td  div,div.colCopy div
	/* common inner cell properties*/ {
	padding: 7px;
	border-left: 0px solid #fff;
	
}

.flexigrid div.hDiv th,div.colCopy {
	font-family: 'Open Sans Bold';
	height: 24px;
	cursor: default;
	white-space: nowrap;
	overflow: hidden;
}

div.colCopy {
border-left-color: #aaccf6;
border-right-color: #aaccf6;
background-image: none;
background-color: #51A0E9;
border-bottom: 0px;
color:#FFFFFF;
font-size:16px;
	overflow: hidden;
	height:30px;
	font-weight:normal;
}

.flexigrid div.hDiv th.sorted {
background-color: #417CBE;
	border-bottom: 0px solid #00C7FF;
}

.flexigrid div.hDiv th.thOver {
	
}

.flexigrid div.hDiv th.thOver div,.flexigrid div.hDiv th.sorted.thOver div
	{
/*	border-bottom: 1px solid orange;
	padding-bottom: 4px;*/
}

.flexigrid div.hDiv th.sorted div {
	border-bottom: 0px solid #00C7FF;
	padding-bottom: 5px;
}

.flexigrid div.hDiv th.thMove {
	background: #71B7DD;
	color: #fff;
}

.flexigrid div.hDiv th.sorted.thMove div {
	border-bottom: 1px solid #fff;
	padding-bottom: 4px
}

.flexigrid div.hDiv th.thMove div {
	background: #71B7DD !important;
}

.flexigrid div.hDiv th div.sdesc {
	background: url(images/dn.png) no-repeat center top;
}

.flexigrid div.hDiv th div.sasc {
	background: url(images/up.png) no-repeat center top;
}

.flexigrid div.bDiv td {
	border-bottom: 1px solid #fff;
	vertical-align: top;
	white-space: nowrap;
}

.flexigrid div.hDiv th div {
	
}

.flexigrid span.cdropleft {
	display: block;
	background: url(images/prev.gif) no-repeat -4px center;
	width: 24px;
	height: 24px;
	position: relative;
	top: -24px;
	margin-bottom: -24px;
	z-index: 3;
}

.flexigrid div.hDiv span.cdropright {
	display: block;
	background: url(images/next.gif) no-repeat 12px center;
	width: 24px;
	height: 24px;
	float: right;
	position: relative;
	top: -24px;
	margin-bottom: -24px;
}

.flexigrid div.bDiv td div {
	border-top: 0px solid #fff;
	padding-bottom: 4px;
}

.flexigrid tr td.sorted {
	border-bottom: 1px solid #f3f3f3;
	background-color:#e7e8ee;
}

.flexigrid tr td.sorted div {
		
}

.flexigrid tr.erow td {
	background: #fcfcfc;
	border-bottom: 1px solid #fcfcfc;
}

.flexigrid tr.erow td.sorted {
	border-bottom: 1px solid #fcfcfc;
	
	background-color:#e7e8ee;
}

.flexigrid tr.erow td.sorted div {
}

.flexigrid div.bDiv tr:hover td,.flexigrid div.bDiv tr:hover td.sorted,.flexigrid div.bDiv tr.trOver td.sorted,.flexigrid div.bDiv tr.trOver td
	{
	background: #d5effc;
	border-bottom: 1px dotted #a8d8eb;
}

.flexigrid div.bDiv tr.trSelected:hover td,.flexigrid div.bDiv tr.trSelected:hover td.sorted,.flexigrid div.bDiv tr.trOver.trSelected td.sorted,.flexigrid div.bDiv tr.trOver.trSelected td,.flexigrid tr.trSelected td.sorted,.flexigrid tr.trSelected td
	{
	background: #A1D5F0;
}

/* novstripe adjustments */
.flexigrid.novstripe .bDiv table {
	border-bottom: 1px solid #00C7FF;
	border-right: 1px solid #00C7FF;
}

.flexigrid.novstripe  div.bDiv td {
	border-right-color: #fff;
}

.flexigrid.novstripe div.bDiv tr.erow td.sorted {
	border-right-color: #e3e3e3;
}

.flexigrid.novstripe div.bDiv tr td.sorted {
	border-right-color: #f3f3f3;
}

.flexigrid.novstripe  div.bDiv tr.erow td {
	border-right-color: #fcfcfc;
	border-left-color: #fcfcfc;
}

.flexigrid.novstripe div.bDiv tr.trSelected:hover td,.flexigrid.novstripe div.bDiv tr.trSelected:hover td.sorted,.flexigrid.novstripe div.bDiv tr.trOver.trSelected td.sorted,.flexigrid.novstripe div.bDiv tr.trOver.trSelected td,.flexigrid.novstripe tr.trSelected td.sorted,.flexigrid.novstripe tr.trSelected td
	{
	border-right: 1px solid #0066FF;
	border-left: 1px solid #0066FF;
}

.flexigrid.novstripe div.bDiv tr.trOver td,.flexigrid.novstripe div.bDiv tr:hover td
	{
	border-left-color: #d9ebf5;
	border-right-color: #d9ebf5;
}

/* end novstripe */
.flexigrid div.pDiv {
background-image: none;
border: solid 1px #00C7FF;
background-color: #FFFFFF;
color: #00C7FF;
font-size:14px;
	border-top: 0px;
	overflow: hidden;
	white-space: nowrap;
	position: relative;
	min-height:35px;
	height:auto;
}

.flexigrid div.pDiv div.pDiv2 {
	margin: 3px;
	margin-left: -2px;
	float: left;
	width: 100%;
	height:auto;
}

div.pGroup {
	float: left;
	background: none;
	height: 24px;
	margin: 0px 5px;
}

.flexigrid div.pDiv .pPageStat,.flexigrid div.pDiv .pcontrol {
	position: relative;
	top: 5px;
	overflow: visible;
}

.flexigrid div.pDiv input {
	vertical-align: text-top;
	position: relative;
	top: -5px;
	margin: 3px;
	margin-top: 1px;
	padding: 2px 3px;
	width: 30px;
	text-align: center;
}

.flexigrid div.pDiv select {
	margin: 3px;
	margin-top:-1px;
}

.flexigrid div.pDiv  div.pButton {
	float: left;
	padding-top: 2px;
	padding-left: 1px;
	padding-right: 1px;
font-size: 12px;
text-align: center;
width: 20px;
	height: 20px;
	border: 0px;
	cursor: pointer;
	overflow: hidden;
-webkit-transition: all 0.3s ease-in;
-moz-transition: all 0.3s ease-in;
-o-transition: all 0.3s ease-in;
transition: all 0.3s ease-in;
}


.flexigrid div.pDiv  div.pButton.cyr {
border-radius:20px;
-webkit-border-radius:20px;
-moz-border-radius:20px;
-o-border-radius:20px;
border:solid 1px #00C7FF;
}
.flexigrid div.pDiv  div.pButton:hover,.flexigrid div.pDiv  div.pButton.pBtnOver
	{
	width: 20px;
	height: 20px;
	cursor: pointer;
	color:#00DCFF;
-webkit-transition: all 0.3s ease-in;
-moz-transition: all 0.3s ease-in;
-o-transition: all 0.3s ease-in;
transition: all 0.3s ease-in;
}

.flexigrid div.pDiv  div.pButton span {
	width: 20px;
	height: 20px;
	display: block;
	float: left;
padding-top:3px;
}
.flexigrid div.pDiv div.pButton span.fa.fa-refresh{
font-size:16px;
}


.flexigrid .pSearch {
	background: url(images/magnifier.png) no-repeat center;
}

.flexigrid .pFirst {

	margin:3px 3px;
}

.flexigrid .pPrev {
	
	margin:3px 3px;
}

.flexigrid .pNext {

	margin:3px 3px;

}

.flexigrid .pLast {
	margin:3px 3px;
}

.flexigrid .pReload {
margin-top: 1px;
font-size: 20px !important;
}

.flexigrid .pReload.loading {
	background: url(images/load.gif) no-repeat center;
		background-size:20px;
		
}

/* ie adjustments */
.flexigrid.ie div.hDiv th div,.flexigrid.ie  div.bDiv td  div,div.colCopy.ie div
	/* common inner cell properties*/ {
	overflow: hidden;
}