/* layout content */
/*
@font-face {
	font-family: 'Crete Round Reguslar';
	src: url('../fonts/CreteRound-Regular.ttf');
}

@font-face {
	font-family: 'Crete Round Italic';
	src: url('../fonts/Crete_Round/CreteRound-Italic.ttf');
}*/
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/OpenSans-Regular.woff') format('woff');
}
@font-face {
  font-family: 'Open Sans Bold';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/OpenSans-Bold.woff') format('woff');

}
@font-face {
  font-family: 'Open Sans Italic';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/OpenSans-Italic.woff') format('woff');

}

body,p{
	font-family: 'Open Sans';
margin:0;
padding:0;
font-size:12px;
color:#555;
	background-color:#F0F4FA;	
}

.allblur .left-menu,.allblur .top-header,.allblur .master-content,.allblur.main-content{
	-webkit-filter:blur(5px);		
	-webkit-transition: all 0.8s ease-in !important;
}

/* buat menu */
.left-menu{
background-color:#10141C;
width:40px;
padding:0px;
height:100%;
position:fixed;
overflow:hidden;
top:0;left:0;
z-index:9;

-webkit-transition: all 0.3s ease-in;
}

.sideon .left-menu{
	width:220px;
	
-webkit-transition: all 0.3s ease-in;
}

.nadnav{
	width:220px;
	height:60px;
	background-repeat:no-repeat;
	border-bottom:solid 1px #667379;
	position:relative;}
.icon-nav{
	float:left;
	width:50px;
	height:60px;
	
	}
	/* buat switcher*/
.switch-nav{
	float:left;
	width:auto;
	height:60px;
	clear:right;
	}

.switch-month {
    font-size: 16px;
    color: #fff;
    margin-top: 16px;
    text-transform: uppercase;
    text-decoration: none;
    display: block;
}
.switch-month:hover {
    color: #00c7ff;
}
.edit-month {
    float: right;
    margin-right: 10px;
    margin-top: 22px;
    display: inline-block;
    color: #FFFFFF;
    font-size: 16px;
    text-decoration: none;
}

.edit-month:hover {
    color: #00c7ff;
}
.switch-box{
	position:relative;
width:70px;
height:20px;
margin-top:18px;
overflow:hidden;
}	
.switch-wrap{
width:110px;
height:20px;
background-color:#000;	
}
.switch-left{ 
position:absolute;
cursor:pointer;
width:35px;
height:20px;
background-color:#33EC33;	
background-image:url(../icons/lock.png);
background-position:center;
background-repeat:no-repeat;	
background-size:12px;	
-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 20, 0.2);
-moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 20, 0.2);
box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 20, 0.2);
}
.switch-right{
left:70px; 
cursor:pointer;
position:absolute;
width:35px;
height:20px;
background-color:#FF0000;
background-image:url(../icons/unlock.png);
background-position:center;
background-repeat:no-repeat;	
background-size:12px;	
-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 20, 0.2);
-moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 20, 0.2);
box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 20, 0.2);
		
}

.switcher{
	
	-webkit-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 20, 0.2);
-moz-box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 20, 0.2);
box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 20, 0.2);
 
left:35px;
cursor:pointer;

border-right:solid 1px #666;
border-left:solid 1px #666;
position:absolute;
width:35px;
height:20px;
background-color: #f5f5f5;
background-image:url(../icons/switcher.png);
background-position:center;
background-repeat:no-repeat;	
background-size:12px 10px;	
	
}

.icon-nav > a,.icon-nav > a > span {
display:block;
height:100%;
text-decoration: none;
}
.icon-nav > a > span {
font-size: 22px;
margin: 20px 0px 0px 10px;
color: #00B2FF;
-webkit-transition: all 0.5s ease-in;
}
.nadnav.son .icon-nav> a span{
-webkit-transition: all 0.5s ease-in;
color: #ffffff;
}
.icon-nav > a:hover span,.nadnav.son .icon-nav> a:hover span{
-webkit-transition: all 0.5s ease-in;
color: #00DCFF;
}
.nadnav.son .icon-nav> a:hover span{
color: #00DCFF;
	
}


/* content */
.master-content{

margin-top: 70px;
width:100%;}

.top-header{
	top: 0;
	width: 100%;
	height: 60px;
	text-align: right;
	padding:0px;
	position: fixed;
	-webkit-transition: all 0.3s ease-in;
	background: #fff;
	color: #FFF;
	z-index: 8;
	border-bottom: solid 2px #00B2FE;
	box-shadow: inset 5px 5px 20px #EBF1F4;
}

.sideon .top-header{
	margin-left:-0px;
	-webkit-transition: all 0.3s ease-in;
}
.logo{
	float:left;
	 font-size:36px;
	 margin-left:65px;	
	-webkit-transition: all 0.3s ease-in;
}


.akun{
	float: right;
	margin-right: 10px;
	width: auto;
	display: block;
	position: static;
}

.second-header{
background-color: #00B2FF;
padding: 5px 10px;
margin-top: 50px;
display: block;

	}

.clear{
clear:both	
}
.fullbox{
display:block;	
}

.bred {
background: #fa3031 !important;
color: #fff !important;
border: 0px !important;

}
.baqua {
background: #52b9e9 !important;
color: #fff !important;
border: 0px !important;

}
.bgreen {
background: #43c83c !important;
color: #fff !important;
border: 0px !important;
}

.bgnone {
background: transparent !important;
color: #fff !important;
border: 0px !important;
}


.bpink {
background: #d94084 !important;
color: #fff !important;
border: 0px !important;

}
.bblue {
background: #1281E7 !important;
color: #fff !important;
border: 0px !important;

}
.bviolet {
background: #932ab6 !important;
color: #fff !important;
border: 0px !important;

}
.byellow {
background: #E4A913 !important;
color: #fff !important;
border: 0px !important;

}
.borange {
background: #FF8603 !important;
color: #fff !important;
border: 0px !important;

}

.form-info {
padding: 5px 10px ; font-size:12px;

background: rgba(67,200,60,0.9) !important;
color: #fff !important;
border: 0px !important;
}
/* buat shorcut box */
.short-box{
margin: 5px;
height: 100px;
display: block;
color: #333;
padding: 5px 10px;
position: relative;
text-decoration:none;
color: #fff;
border: 0px ;
-moz-border-radius: 3px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
	-webkit-transition: all 300ms ease-out;
	-moz-transition: all 300ms ease-out;
	-o-transition: all 300ms ease-out;
	transition: all 300ms ease-out;
}

.short-box:hover .h-label{
    -webkit-transform:scale(1.15);
    transform:scale(1.15);
	margin-top:0px;
	-webkit-transition: all 0.5s ease-in;
}

.short-box:hover .h-icon{
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name:zoomincorner;
}


.h-link a {
-webkit-transition: all 0.3s ease-in;
margin: 0px;
display: inline-block;
padding: 3px 5px;
-webkit-border-radius: 2px;
color: #fff;
text-decoration: none;
}
.h-link a:hover {
-webkit-transition: all 0.3s ease-in;
background: rgba(72, 72, 72, 0.4);
color: #fff;
}
.short-box:hover  .h-link{ 

  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
 -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
.short-box .h-icon{

  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name:zoomoutcorner;
  
  
background-repeat: no-repeat;
background-position: center;
font-size: 45px;

width:46px;
height:46px;

}
.short-box .h-label{

    -webkit-transform:scale(1);
    transform:scale(1);
	-webkit-transition: all 0.5s ease-in;
margin-top: 5px;
display: block;
font-size: 35px;
padding-top: 4px;
padding-right: 8px;
text-align:right;
}
.short-box .h-info{
	-webkit-transition: all 0.5s ease-in;
font-size:10px;
display:block;
color:#fff;
}
.short-box .sb-left{
width: 39%;
float: left;
overflow: hidden;
margin-left: -10px;
margin-top: -5px;
padding-left: 10px;
padding-top: 5px;
height: 80px;
}
.short-box .sb-right{
width:59%;
float:left;
}
.short-box .h-option {
	-webkit-transition: all 0.5s ease-in;

	text-align: center;
	color: #EFEFEF;
	background: rgba(42, 42, 42, 0.17);
	height: 24px;
	padding-top:4px;
	position: absolute;
	width: 100%;
	bottom: 0px;
	left: 0px;
	cursor: pointer;
	font-size: 13px;
}
.short-box .h-option:hover {
	-webkit-transition: all 0.5s ease-in;
background: rgba(42, 42, 42, 0.33);
color: #ffffff;
}

.short-box .h-option .fa {
font-size: 16px;
vertical-align:middle;
}


.short-box .h-desc{
-webkit-transition: all 0.5s ease-in;
color: #222;
font-size: 14px;
width: 100%;
top: 115px;
left: 0%;
position: absolute;
opacity: 0;

    -webkit-transform: perspective(400px) rotateY(90deg);
z-index: 7;
}
.desc-caret {
height: 20px;
text-align: center;
display: block;
color: #00AFFF;
font-size: 18px;
position: absolute;
top: -12px;
width: 100%;
}

.short-box .h-link{

  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
 -webkit-animation-name: fadeOutLeft;
  animation-name: fadeOutLeft;
  
position: absolute;
top: 0px;
display: block;
margin-left: 0px;
margin-top: 8px;
}
.short-box .h-link .fa {
width: 15px;
}
.grid-params .ctrl-hlookup{
right:auto !important;
}

.logo img{
	width: auto;
max-height: 50px;
margin-top: 5px;	
	}
/* main content */
.main-content{
	display:block;
	background-color:#F0F4FA;
	padding-left:55px;
	margin-right:15px;	
	padding-top:10px;
	-webkit-transition: all 0.3s ease-in;
}
.title-content{
background-color: #36AFE7;
font-size: 16px;
padding: 10px 7px;
font-family: 'Open Sans Bold';
color: #FFFFFF;
border: 1px solid #36AFE7;
overflow: hidden;
min-height: 22px;
}

.content{
position: relative;
padding: 7px;
font-size: 12px;
background-color: #fff;border: solid 1px #97B2C4;
overflow-x: hidden;
min-height:400px;
}

/* Menu */
ul#firstmenu{
	list-style-type:none;
	margin:0;
	padding:0;
}
#firstmenu .toogle-first{
border: 1px solid #E5E5E5;	
border-top-color: #3D4143;
border-bottom-color: #131517;
border-top-color: rgba(255, 255, 255, 0.1);
border-bottom-color: rgba(0, 0, 0, 0.5);
border-left: none;
border-right: none;
display: block;
padding: 10px 12px;
font-weight: normal;
font-size: 13px;
text-decoration: none;
cursor:pointer;

	
}
#firstmenu .toogle-first:hover .label-menu{
	color: #fff;
	-webkit-transition: all 0.5s ease-in;
}
.label-menu{
	color:#FFFFFF;
	padding-left:10px;
}
.accordion-toggle{
	text-decoration:none;	
}

#mainprofile{
	background-color:#22252a;
	height:100px;
	padding-top:10px;
	cursor:pointer;
}
#picprofile{	
	width:64px;
	height:64px;
	float:left;
	margin-right:5px;
	margin-top:10px;
	box-shadow:1px 1px 5px #193d6d;
	-webkit-box-shadow:1px 1px 5px #193d6d;
	-moz-box-shadow:1px 1px 5px #193d6d;
	margin-left:10px;border: 1px solid #6daff3;
	-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;
}
#fotopp{

	width:64px;
	height:64px;
	border-radius:5px;
 	-moz-border-radius:5px;
	-webkit-border-radius:5px;
}
#detailprofile{
	padding-top:10px;
	float:left;
	width:120px;
	color:#BBB;
	font-size:12px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 1);
}
.sub-ul-menu{
	display:none;
	margin-top:10px;
	margin-bottom:-10px;	
	margin-left:-15px;
	width:182px;
	list-style:none;
	background-color:#999;
background: #212527;
background: rgba(0, 0, 0, 0.15);
-webkit-box-shadow: inset -2px 2px 6px -1px rgba(0, 0, 0, 0.7), inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 -1px 6px -1px rgba(0, 0, 0, 0.1);
-moz-box-shadow: inset -2px 2px 6px -1px rgba(0, 0, 0, 0.7), inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 -1px 6px -1px rgba(0, 0, 0, 0.1);
box-shadow: inset -2px 2px 6px -1px rgba(0, 0, 0, 0.7), inset 0 1px 2px rgba(0, 0, 0, 0.3), inset 0 -1px 6px -1px rgba(0, 0, 0, 0.1);
}

.sub-ul-menu li{
	margin-left:-40px;
	margin-right:-1px;
	font-weight:normal;
	border-top: 1px solid rgba(0,0,0,.1);
-webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.05);
-moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.05);
box-shadow: inset 0 1px 0 rgba(255,255,255,.05);
}


.sub-ul-menu li a{
	color:#a1a3a3;
	text-decoration:none;
	font-size:12px;	
     padding-top:5px;
	padding-left:20px;
	padding-bottom:5px;
	margin-right:0px;
	display:block;
}

.sub-ul-menu li:hover > a{
	background: rgba(0, 0, 0, 0.2);
}
.sub-ul-menu li:hover > a{
	color: #fff;
}
.toogle-active{
	background-color:#00C7FF;	
}

.toogle-active .label-menu{
	color: #FFF;
}

.sub-ul-menu-tiga,.sub-ul-menu-empat,.sub-ul-menu-lima,.sub-ul-menu-enam{
	display: none;
}
.sub-ul-menu-tiga>li>a{
	padding-left: 30px;
}
.sub-ul-menu-empat>li>a{
	padding-left: 40px;
}
.sub-ul-menu-lima>li>a{
	padding-left: 50px;
}
.sub-ul-menu-enam>li>a{
	padding-left: 65px;
}


.accordion-heading{
	margin:-10px -12px;
	padding:7px 10px;
	width: 220px;
	-webkit-transition: all 0.5s ease-in;
}

.accordion-heading:hover{
-webkit-transition: all 0.5s ease-in;
	background-color:#00C7FF;
}
.icon-menu{
	font-size:16px;
color:#FFF;
margin-left:1px;
width:20px;
text-align:center;
}

#firstmenu .tf-active:hover .toogle-first{
	background: rgba(0, 0, 0, 0.09);
	!important;
}
#firstmenu .tf-active:hover .label-menu{
	color: #EEF;
	}

.toogle-first .panah-menu{
	background-image:url(../icons/arrow.png);	
	width:16px;height:16px;
	margin-right:20px;
	float:right;
	background-size:12px;
	background-repeat:no-repeat;
	background-position:center;
}
.sub-menu-tiga .panah-menu,.sub-menu-empat .panah-menu,.sub-menu-lima .panah-menu,.sub-menu-enam .panah-menu {
	margin-right: 10px;
}
.toogle-first:hover .panah-menu{
	background-image:url(../icons/arrow-h.png);
}
.tf-active .panah-menu{
	background-image:url(../icons/arrow-a.png);
}
.tf-active:hover .panah-menu{
	background-image:url(../icons/arrow-h.png);
}


.subtoogle-active{
		
}

.subtoogle-active > a{
	color: #fff !important;

position:relative;}

.subtoogle-active > a:after {
position: absolute;
right: 0;
top: 5px;
border: 8px solid rgba(255,255,255,0);
border-right-color: #fff;
content: '';
width: 0;
height: 0;
}
.sub-menu-tiga.subtoogle-active > a:after,.sub-menu-empat.subtoogle-active > a:after,.sub-menu-lima.subtoogle-active > a:after,.sub-menu-enam.subtoogle-active > a:after {
display: none;
}
.subtoogle-active:hover{
}
.subtoogle-active:hover > a{
	color: #fff !important;;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, 1) !important;;
}

/* css form*/
form crow{
width: 100%;
margin:2px 0px;
padding:5px 0px;
/*border-bottom:solid 1px #eaeaea;*/
display:table;
}
crow.row-ket {
	margin: 0px 0px;
	padding: 0px;
}
crow.no-border {
	border: none;
}
.fbreak crow{
padding:0px;
border-bottom:none;
}
fieldset{
border:1px solid #eaeaea;
padding:2px;
}
legend{
margin-left: 20px;
font-size: 13px;
color: #0099FF;
font-weight: bold;
}
.form-rows crow{
width: 100%;
margin-top:5px;
padding-bottom:10px;	
float:left;
}
.form-rows tag{
	min-width:200px;
}
.fbreak .form-rows tag{
	min-width:110px;
}
.form-rows crow label{
	width:95%;
}
.form-rows  select,.form-rows  crow textarea{
	width:50%;
}
.form-rows.fbreak crow label{
	width:90% !important;
}

form crow input[type='text'],form crow textarea,form crow select{
float:left !important;
}
form crow tag{
	font-size:12px;
padding-left:4px;
	min-width:200px;
float:left;
font-weight:bold;
}
form crow ilabel{
float:left;
}

.fheight-1 crow{
width:100% !important;
}

.fheight-1 crow label input[type="text"],.fheight-1 crow label select{
width:95% !important;
}
ilabel.labeluang{
width:120px;
text-align:right;
}
 input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .fileupload-new .input-append .btn-file {height: 20px;
}
textarea, select, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, .fileupload-new .input-append .btn-file {
border: 1px solid #00C7FF;

-webkit-transition: all 0.3s ease-in;
padding: 4px 6px;

}
textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
border-color: rgba(82,168,236,0.8);
outline: 0;
outline: thin dotted \9;
-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
-moz-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);
box-shadow: inset 0 1px 1px rgba(0,0,0,0.075),0 0 8px rgba(82,168,236,0.6);

-webkit-transition: all 0.3s ease-in;
}
select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
display: inline-block;
padding: 4px 6px;
font-size: 14px;
line-height: 20px;
color: #558;
vertical-align: middle;
-webkit-border-radius: 1px;
-moz-border-radius: 1px;
border-radius: 1px;

-webkit-transition: all 0.3s ease-in;
}
input[disabled], select[disabled], textarea[disabled], input[readonly], select[readonly], textarea[readonly] {
cursor: not-allowed;
background-color: #eee;
}
input[disabled].disbar{
cursor: auto;
background-color: #fff;
}
select{
height: 29px !important;
}
.group-text{
	float: left;
}
.group-sub-text {
	position: relative;
	float: left;
	margin-right: 10px;
}
.btn-primary{
    background: #00AFFF;
}
.btn-files{
	width:auto;
	display:inline-block;
	float:left;
}
.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled], .btn-group.open .btn-primary.dropdown-toggle {
    background-color: #2CA5DC;
}

.btn-success{
    background-color: #33B12D;
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled],
.btn-group.open .btn-success.dropdown-toggle{
    background-color: #3F9C3A;
}
.btn-info{
    background: #00E1F9;
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled],
.btn-group.open .btn-info.dropdown-toggle{
    background-color: #0DCBDF;
}
.btn-warning{
    background: #fb9800;
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled],
.btn-group.open .btn-warning.dropdown-toggle{
    background-color: #de8a00;
}
.btn-danger{
    background: #FF2300;;
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled],
.btn-group.open .btn-danger.dropdown-toggle{
    background-color: #E60E0E;
}
.btn-inverse{
    background: #484848;
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled],
.btn-group.open .btn-inverse.dropdown-toggle{
    background-color: #292929;
}
.btn-link {
    background: none;
    box-shadow: none;
}
[class^='btn-'] {
border-radius: 0;
font-size:14px;
padding: 8px 12px;
outline: none;
border: none;
color:#fff;
cursor:pointer;
box-shadow: none;
text-shadow: none;
moz-border-radius: 2px;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;

}

[class^='btn-'] span {
margin-right:8px;
font-size: 14px;
}
[class^='btn-']:hover, [class^='btn-']:focus {
color: #eee;
text-decoration: none;
-webkit-transition: all 300ms ease-out;
-moz-transition: all 300ms ease-out;
-o-transition: all 300ms ease-out;
transition: all 300ms ease-out;
}

.grouping-element {
display: inline-block;
}
.grouping-element label {
display: block;
}
/* Profil akun  */


.rowdown{
	display: inline-block;
	width: 0;
	height: 0;
	vertical-align: top;
	border-top: 4px solid #00B2FF;
	margin-top: 15px;
	border-right: 4px solid transparent;
	border-left: 4px solid transparent;
	content: "";
	float: left;
	margin-left: 5px;
}
.labakun{
height: 20px;
float: left;
padding-top: 10px;
	}
.imakun{
	float: left;
	width: 35px;
	height: 35px;
	border: solid 1px #00C7FF;
	margin-left: 5px;
	border-radius: 40px;
	overflow: hidden;
	background-size: cover;
	}

div.dropdon {
	color: #555;
	margin: 0px 5px 0 0;
	position:static;
	text-align: left;
	float:left;
	display:inline-block;
	height: 100%;
}
div.divmenu{
	background: #fff;
	border:  1px solid #DDDEDE;
	position: absolute;
	display: none;
	right: 0;
	z-index: 90;
	width: 240px;
	right: 15px;
	
	
}
div.divmenu li a span.fa{
	width: 25px;
	text-align: left;
}
.dropdon  ul {
	list-style:none;
	margin:0px;
	padding:0px;
	font-size: 12px;
	padding: 0px 0 0 0px;
}
.dropdon ul li {
	border-bottom: solid 1px #EFEFEF;
}
.dropdon ul li a,
.divmenu .notif-action a{
	color: #555555;
	display: block;
	font-family: 'Open Sans';
	padding: 6px 15px;
	cursor: pointer;
	text-decoration:none;
	border-bottom: solid 1px #fff;
	border-top: solid 1px #fff;
}

.dropdon ul li a:hover,
.divmenu .notif-action a:hover{
	background: #00C7ff;
	color: #FFFFFF;
	border-bottom: solid 1px rgba(234, 234, 234, 0.78);
	border-top: solid 1px rgba(239, 239, 239, 0.78);

}
a.dropdivmenu {
	font-size: 14px;
	line-height: 16px;
	color: #00B2FF;
	z-index: 110;
	display: block;
	position: relative;
	height: 35px;
	text-decoration: none;
	cursor: pointer;
	font-family: 'Open Sans Bold';
	padding: 12px 16px 13px 10px;
}
.dropdivmenu#open{
	color: #fff;
	background: #00c7ff;
}
hr {
margin: 5px 0;
border: 0;
border-top: 1px solid #eee;
border-bottom: 1px solid #fff;
}
/* notifikasi */
.head-notif {
font-size: 20px;
text-align: center;
padding-top: 10px;
position:relative;
}
.number-notif{
position: absolute;
color: white;
font-size: 10px;
font-family: 'Open Sans Bold';
border: solid 1px #ED0000;
background: rgba(255, 32, 7, 0.65);
padding: 2px 3px;
top: -8px;
left: 10px;
min-width: 12px;
padding: 5px 4px;
border-radius: 30px;
}
.unactive .number-notif{
border: solid 1px #ddd;
background: #ddd;
}
.unactive .head-notif{
	 color: #ddd; 
}
.notif-transaksi div.divmenu ul{
	max-height:200px;
	overflow:auto;
}
.unactive .divmenu .notif-action{
	display:none;
}
.divmenu .notif-action{
text-align:center;
font-weight:bold;
}

/* modal */

.gocontent{
   margin-top:20px; 
min-width:600px;
max-width: 90%;
 padding:0px;
height: 100% !important;
max-height:85%;
 overflow:hidden;
}
.b-ajax-wrapper {
 background-color:#f4f8fa;
 padding:15px 10px;
}
.nav-control{
	margin-top:7px;
	text-align:right;
	border-top:2px solid #c8dbe4;
	padding-top:5px;
	padding-bottom:5px;
	padding-right:10px;
	background-color:#E6E9EB;
	clear:both;
	}

.grid-title{
background: #00ADFF;
width: 100%;
height: 40px;
position: absolute;
left: 0px;
top: 0;
z-index: 3;

-webkit-box-shadow:0px 0px 5px #c1d4dc;
 border:1px solid #b0bbc0;
 
}
.title-modals{
	font-size:16px;
margin:9px 10px;
color:#FFF;
font-weight:bold;
	}	
.mloadings{
width:300px;margin:10px auto 10px auto; text-align:center;display:none;	
}
.mloading-icon{
	display: none;
}
.mloading-icon,
.fa-spinner.fa-spin{
	/*color: #009FFF;*/
}	

.modal_wrapper .mloadings {
background: #f4f8fa;
width: 100%;
margin: 0px;
padding: 10px 0px;
}
.modal_wrapper{
	height:85% !important;
	overflow:auto;
	position:relative;
}

#footer{
	width:100%;
	text-align:center;
	padding:10px 0px;
	color:#555;
	font-size:14px;font-family: 'Open Sans Bold';	
}

[class^='ficon-']{
font-size: 18px;
text-decoration: none;
margin:0px 2px;

}

.ficon-green{
	color: #13A236 !important;
}

.ficon-red{
	color: #FF7A00 !important;
}

.ficon-blue{
	color: #3DA2FF !important;
}
.ficon-blueold{
	color: #1B5AAA !important;
}

.ficon-gold{
	color: #F3B025 !important;
}
.ficon-gray{
	color:#4Db7E7 !important;
}

.ui-autocomplete-loading{
background-image: url(images/load.gif) !important;
background-repeat:no-repeat;
background-size: auto 100%;
background-position:left;
}

.panel{
margin-top:10px; 
margin-bottom:10px; 
width:100%; 
float:left; 
}
.title-panel{
padding:10px 7px;
font-size: 14px;
color: #fff;
font-family: 'Open Sans Bold';
background-color: #5CC4FF;
}

.content-panel{
padding:5px;
border:solid 1px #bbc;
position:relative;
}
.content-load:before{
content: "";
display: block;
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
z-index: 1;
background-color: rgba(235, 235, 235, 0.65);
}
.render-load{
display:none;
-webkit-transition: all 0.3s ease-in;
}

.content-load .render-load{
display:block;
z-index: 10;
position: absolute;
top: 35%;
left: 25%;
width: 50%;
margin: 0px auto;
color: #101010;
font-size: 14px;
font-family: 'Open Sans Bold';
-webkit-transition: all 0.3s ease-in;

}
.uang {
	text-align:right !important;
}
.tabel {
		overflow:hidden;
		border:1px solid #00C7FF;
		background:#fff;
border-collapse: separate;
width:100%;
	}
.tabel th, .tabel td {
padding: 8px;
line-height: 20px;
vertical-align: top;
border-top: 1px solid #ddd;
text-align:left;
}
.tabel th{
	border-bottom: solid 2px #00C7FF ;
	background-color: #fff ;
	border-left:none ;
	color: #00C7FF !important;
}	

.tabel tr:nth-child(even){
background:#fff;
}

.tabel tr:nth-child(odd){
background:#fcfcfc;
}
.tabel tr.tr-group{
background-color: #F4FAFF;
}
/*divider*/
.vpt-divider.solid-title {
background-image: url(../images/solid.png);
background-repeat: repeat-x;
background-position: center;
}
.vpt-divider {
display: block;
width: 100%;
height: auto;
margin: 15px 0;
font-size: 14px;
text-align: center;
}
.vpt-divider.pattern span, .vpt-divider.solid-title span {
cursor:pointer;
padding: 11px 17px;
} 
.sarow {
padding: 11px 5px !important;
}

.loadspiner{
width: 100%;
height: 100%;
visibility: hidden;
z-index: 2;
background-color: rgba(235, 235, 235, 0.65);
opacity:0;
position:absolute;
-webkit-transition: all 1.3s ease-in;
left: 0;
top: 0;
}

.loadspiner.lshow{
visibility: visible;
opacity:1;
-webkit-transition: all 1.3s ease-in;
}

.loadspiner span.fa {
font-size: 70px;
color: #009FFF;
margin: 17% 0% 0% 45%;
}

.loadspiner span.labelt {
font-size: 14px;
color: #333;
display: block;
clear: both;
text-align: center;
}

.content-slide{
position: relative;
left: 0;
opacity:1;
-webkit-transition: all 0.3s ease-in;
}
.content-slide.onleft{
left: -100%;
opacity:0;
-webkit-transition: all 0.3s ease-in;
}
.content-slide.onright{
left: 100%;
opacity:0;
}

#title-content{
position: relative;
left: 0;
opacity:1;
-webkit-transition: all 0.3s ease-in;
}
#title-content.title-up{
top: -40px;
opacity:0;
-webkit-transition: all 0.3s ease-in;
}

#title-content.title-left{
left:100%;
opacity:0;
}

#firtsload {
background: rgba(102, 153, 203, 0.59);
position: fixed;
z-index: 9000;
width: 100%;
height: 100%;
left: 0;
top: 0;
right: 0;
bottom: 0;
-webkit-transition: all 1.3s ease-in;
visibility: visible;
opacity:1;

text-align: center;
padding-top: 15%;
}

#firtsload.firsthide{
visibility: hidden;
opacity:0;
-webkit-transition: all 1.3s ease-in;
}

#firtsload span.fa {
	font-size: 20px;
	color: #fff;
	margin-right: 5px;
}

#firtsload span.firstloadbel {
font-size: 20px;
color: #fff;
display: block;
clear: both;
text-align: center;
}


#firtsload span.firstloadbel i{
font-size:14px
}
.firstloadbel img{
	max-height: 60px;
}


/*animate dashboard lload*/

.over-grid-tahap crow{
min-width: 100%;
}
.dash-content.proses {

-webkit-transition: all 0.5s ease-in !important;
opacity: 0.3;
-webkit-filter:blur(3px);
}
.dash-content {
margin-top: 0px;
-webkit-filter:none;
-webkit-transition: all 0.5s ease-in !important;
opacity: 1;
}

.dash-container{
	width:100%;
	margin-top:10px;
	background: #FFF;
	position:relative;
}


/* Tahap Box Style*/

.tahap-container{
	width:100%;
	margin-top:10px;
	background: #FFF;
	border:1px solid #5CC4FF;
}
.tahap-box{
width:25%;
float:left;
}
.tahap-box ul{
list-style:none;
margin:0px;
padding:0px;
}

.tahap-box ul li span.fa{
color: #00C7FF;
border: 1px solid #00C7FF;
width: 20px;
text-align: center;
padding: 6px 3px;
margin-right: 5px;

-webkit-transition: all 0.3s ease-in;
-webkit-border-radius: 5px;
}

.tahap-box ul li:hover span.fa{
-webkit-transform:rotate(370deg);
zoom:1.2;
-webkit-transition: all 0.5s ease-in;
-webkit-border-radius: 32px;
}

.tahap-box ul li{
padding:10px 10px;
display:block;
background:#fff;
border-bottom: 1px solid #E8E8E8;
font-size:14px;
color:#4CC4E6;
cursor:pointer;
-webkit-transition: all 0.3s ease-in;
border-right:3px solid #fff;
}


.tahap-box ul li:hover,.tahap-box ul li.active{
border-right:3px solid #00C7FF;
color:#00C7FF;
-webkit-transition: all 0.3s ease-in;
background:#fafafa;
}
.tahap-content{
width:74%;
float:left;
min-height:300px;
border-left:1px solid #E8E8E8;
position:relative;
}
.tabel-noborder th {
border: none;
color: #00C7FF;
font-size: 14px;
padding: 0px 7px;
background: transparent;
margin: 0px;
}
.tabel-noborder th span {
border-bottom: solid 2px #00C7FF;
display: block;
padding: 10px 0px;
}
.tabel-noborder tr:nth-child(even){
background:#fff;
}

.tabel-noborder tr:nth-child(odd){
background:#fcfcfc;
}

.tabel-noborder tr:first-child{
background:#fff;
}
.tabel-noborder tr td {
border-bottom: 1px solid #E7E7E7;
padding: 5px 10px;
color: #696969;
}
.title-thtrans{
float:left;
color:#bfbfbf;
}
.paging-thtrans{
float:right;

}

.paging-thtrans span{
width: 19px;
font-size: 14px;
text-align: center;
padding: 3px 0px;
background: #dedede;
color: #FFFFFF;
margin: 0px 2px;
display: inline-block;
}
.paging-thtrans span:hover{
background:#CCCCCC;
color:aaa;
}
.paging-thtrans i {
color: #bfbfbf;
font-size: 12px;
padding-right: 10px;
}

.title-panel-thtrans{
border-bottom: 1px solid #5CC4FF !important;
padding: 9px 7px;
}
/*custom flexigrid style*/

.grid-metro .flexigrid{
color:#696969;
}

.grid-metro .flexigrid div.sDiv{
margin-top:0px;
}
.grid-metro .flexigrid div.hDiv{
border-top: none;
border-bottom: none;
color: #00C7FF;
background: transparent;
}
.grid-metro .flexigrid div.hDiv th{
background-color:#fff;
border:none;
}
.grid-metro .flexigrid div.hDiv th div {
border-bottom: 2px solid #00B9FF;
padding: 7px 5px;
margin: 0px 3px;
}

.grid-metro .flexigrid div.hDiv th.sorted div{
color:#00a8ee;
border-bottom: 2px solid #00a8ee;
}
.grid-metro .flexigrid div.bDiv td,.grid-metro .flexigrid div.bDiv td div {
	overflow:inherit;
}
.grid-metro .flexigrid div.pDiv {
	color:#00B9FF;
	background:#fff;
	border-left:1px solid #00B9FF;
	border-right:1px solid #00B9FF;
	border-bottom:1px solid #00B9FF;
}
.grid-metro .flexigrid tr.trSelected td,
.grid-metro .flexigrid div.bDiv tr:hover td, 
.grid-metro .flexigrid div.bDiv tr:hover td.sorted, 
.grid-metro .flexigrid div.bDiv tr.trOver td.sorted, 
.grid-metro .flexigrid div.bDiv tr.trOver td{
	background:none;
}
.grid-metro .flexigrid div.pDiv div.pButton.cyr{
	border-color:#00B9FF;
}
.box-grid-tahap{
	color:#00B9FF;
	position:relative;
}

.box-grid-tahap a{

		text-decoration: none;
	background: #fff;
	color: #508A25;
	border: 1px solid #508A25;
	padding: 5px 10px;
	margin-top: -10px;
display: inline-block;
}
.box-grid-tahap a:hover{

	background: #EBEFEA;
}


.box-grid-tahap a fa-caret-down{
font-size: 12px;
display: inherit;
margin-left: 2px;
}
.over-grid-tahap{
	display:none;
	margin: 0px auto;
background: rgba(254, 254, 254, 0.89);
	border:solid 1px #00B9FF !important;
	min-width:220px;
	padding:10px;
	z-index:9;
}

.h-desc .over-grid-tahap{
background: rgba(236, 244, 246, 0.89);
}
.tahap-content .title-panel{

color:#00B9FF;
}

.fheight-4 crow label input[type="checkbox"] {
width: auto !important;
}

.lbgrid{
padding: 1px 3px;
}

@media screen and (min-width: 1200px){
.sideon .second-header{
	padding-left:240px;
	-webkit-transition: all 0.3s ease-in;
}
.sideon .main-content{
	padding-left:240px;
	display:block;
	-webkit-transition: all 0.3s ease-in;
}
.sideon  .logo{
	margin-left:240px;		
	-webkit-transition: all 0.3s ease-in;
}

.fheight-5 crow{
width:20% !important;
}
.fheight-4 crow{
width:25% !important;
}
.fheight-4 crow label input[type="text"],.fheight-4 crow label select{
width:95% !important;
}
.fheight-3 crow{
width:33% !important;
}
.fheight-2 crow{
width:50% !important;
}
}
@media screen and (max-width: 1199px){
.sideon .second-header{
	padding-left:240px;
	-webkit-transition: all 0.3s ease-in;
}
.sideon .main-content{
	padding-left:240px;
	display:block;
	-webkit-transition: all 0.3s ease-in;
}
.sideon  .logo{
	margin-left:240px;		
	-webkit-transition: all 0.3s ease-in;
}

.fheight-5 crow{
width:20% !important;
}
.fheight-4 crow{
width:25% !important;
}
.fheight-4 crow label input[type="text"],.fheight-4 crow label select{
width:95% !important;
}
.fheight-3 crow{
width:33% !important;
}
.fheight-2 crow{
width:50% !important;
}

	.sideon .f-dashboard crow{
	width:50% !important;
	}

}
/* tablet landscape and desktop */
/* Portrait tablet to landscape and desktop */
@media (max-width: 959px) {
	.switch-nav{
	display:none;
}

.gocontent{max-width:90% !important; min-width:85% !important; 
}

.panel{
width:100% !important; 
}


.form-rows crow{
width:50% !important;
}

.form-rows crow input[type="text"],.form-rows crow select,.form-rows  crow textarea{
float:left;
width:97% !important;
}	
.form-rows crow label{
float:left;
width:90% !important;
}	
.fheight-5 crow{
width:20% !important;
}
.fheight-4 crow{
width:30% !important;
}
.fheight-3 crow{
width:33% !important;
}
.fheight-2 crow{
width:50% !important;
}
.horz-box crow:last-child {
display:none;
}
.f-dashboard crow{
width:50% !important;
}

.short-box .h-label{
    -webkit-transform:scale(1.15);
    transform:scale(1.15);
	margin-top:0px;
	-webkit-transition: all 0.5s ease-in;
}

.short-box .h-icon{
	color: #000000;
	opacity: 0.15;
	-webkit-transform: translate(40%,25%) rotate(0deg) scale(2);
	margin-top: 10px;
	  margin-left:0px;
	 -webkit-animation-name: none;
}
	.short-box .h-link{
	 -webkit-animation-name: none;
	}
	.h-link a {
	background: rgba(255, 255, 255, 0.75);
	margin-bottom: 4px;
	color: #0a0a0a;
	border: solid 1px rgba(10, 10, 10, 0.28);
	}
}

/* tablet and lanscape phone */
@media (max-width: 767px) { 

	
	
.labakun{
	display:none;
	}
	
	.left-menu{
		background: rgba(16, 20, 28, 0);
	}
	
	.sideon .left-menu{
		-webkit-transition: all 0.3s ease-in;
		background: rgba(16, 20, 28, 1);
	}	
	.slimScrollDiv{
		-webkit-transition: all 0.3s ease-in;
		opacity: 0;
		visibility: hidden;
	}
	.sideon .slimScrollDiv{
		-webkit-transition: all 0.3s ease-in;
		opacity: 1;
		visibility: visible;
	}
	.main-content{
		padding-left:5px;
	}
	.second-header{
			padding-left:5px;
		}
	.logo{
		margin-left:50px;
		}
		.main-content {
	padding-left: 10px !important;
	margin-right: 10px !important;
}

.flexigrid div.sDiv2 input, .flexigrid div.sDiv2 select{
width:45%;
}
.flexigrid div.sDiv3{
display:none;
}
.flexigrid .flcari{
display:none;
}
form crow input[type="text"],form crow select,form crow textarea{
float:left;
width:97% !important;
}	

form crow label{
float:left;
width:95% !important;
}	
ilabel{
width:90% !important;
}
form crow img{
float:left;clear:both;
}
.btn-files{
	clear:both !important;	
}
.fheight-5 crow,.fheight-4 crow,.fheight-3 crow,.fheight-2 crow{
width:50% !important;
}
.tahap-box{
	width:15% !important;
}

.tahap-content{
	width:84% !important;
}
.tahap-box .title-panel{
	font-size:12px;
	overflow:hidden;
	text-overflow:ellipsis;
}
.tahap-box ul li{
	text-align:center;
}
.tahap-box ul li span.teks{
display:block;
font-size:12px;
}

.master-content{	
margin-top: 0px;
}
.sideon .logo {
 margin-left: 0px; 
}
.top-header{
	position: relative;
}
.icon-nav {
	width: 100%;
	height: 60px;
	background: rgba(16, 20, 28, 0.75);
	border: none;
}

}

@media (max-width: 600px) { 

	.tahap-box ul li span.teks{
	display:none;
	}
	.tahap-content .title-panel{
	display:block !important;
	} 	
	div.divmenu{
		width: 100% !important;
		right: 0;
	}
	.nadnav{
		border: 0px;
	}
}

/* Landscape phones and down */
	@media (max-width: 480px) { 
	.second-header {
	margin-top: -10px !important;
	}
	.flexigrid div.sDiv3 {
	float: left !important;
	margin:-10px 0px 10px -5px;
	}
		div.dropdon {
		margin: 5px 5px 0 0 !important;
		}
		.logo img{
			width:170px !important;
			}
		a.dropdivmenu {
		padding:3px !important;	
		}
		
		
	.flexigrid div.sDiv3 {
	float: left !important;
	}
	.flexigrid div.pDiv {
	overflow-x: auto;
	overflow-y: hidden;
	padding-bottom: 15px;
	}

	.fheight-5 crow,.fheight-4 crow,.fheight-3 crow,.fheight-2 crow{
	width:100% !important;
	}
	.tahap-box ul li span.teks{
	display:none;
	}

	.tahap-box .title-panel{
		font-size:10px;
	}
	.tahap-content .title-panel{
	display:block !important;
	}
}

/* Landscape phones and down */
@media (max-width: 400px) { 
	.logo{
		display: none;
	}
}
/* barcode code*/
.bar_code,
input[name='kode']{
	text-transform: uppercase;
}
